-연도를 입력으로 받아 윤년인지 아닌지를 출력하는 프로그램을 작성하시오.
윤년은 연도가 4의 배수이면서, 100의 배수가 아닐 때 또는 400의 배수일 때이다.
예를들어, 2012년은 4의 배수라서 윤년이지만, 1900년은 4의 배수이지만, 100의 배수이기 때문에
윤년이 아니다. 하지만, 2000년은 400의 배수이기 때문에 윤년이다.)

In [3]:
year = int(input())
if year % 400 ==0:
    print(f'{year}: 윤년')
elif year % 100 ==0:
    print(f'{year}: 윤년이 아님')
elif year % 4 ==0:
    print(f'{year}: 윤년')
else:
    print(f'{year}: 윤년이 아님')

1900: 윤년이 아님

In [ ]:
# 조건이 제일 작은/좁은 것부터 .... 400

-본인의 생일을 1998 12 15 과 같이 년 월 일로 입력받아
오늘 날짜의 만 나이를 구하는 프로그램을 작성하시오.

In [7]:
from datetime import date   #datetime 모듈 
today = date.today()
today

#(today.year,today.month,today.day) 로 나옴

datetime.date(2021, 11, 22)

In [8]:
year, month, day = map(int, input().split())
year, month, day

(2000, 6, 12)

In [11]:
if month > today.month:
    age = today.year-year-1
elif month < today.month:
    age = today.year-year
else:  # 월이 같을 때 
    if day > today.day:
        age = today.year-year-1
    else:
        age= today.year-year 
print(f'생년월일이 {year}-{month}-{day}인 사람의 만 나이는 {age}')

생년월일이 2000-6-12인 사람의 만 나이는 21

-세 자연수 a, b, c 가 피타고라스 정리 a

2 + b2 = c2 를 만족하면 피타고라스 수라고 부른다.

(여기서 a < b < c 이고 a + b > c)
예를 들면, 32 + 42 = 9 + 16 = 25 = 52 이므로 3, 4, 5는 피타고라스 수입니다.

a + b + c = 1000 인 피타고라스 수를 구하시오. (답은 한가지 뿐이다.)

In [ ]:
# 부정방정식으로 풀이(모든 경우의 수 대입)
# 삼각형 ** 가장 큰 변의 길이 < 나머지 두 변의 길이 합 (기억!!! )

In [14]:
for a in range(1,1001):
    for b in range(a+1,1001):
        c = 1000-a-b
        if c*c == a*a + b*b:
            print(a,b,c)
            break # 답이 하나라고 했으니 한번 돌리고 빠져나오기 #두번째 for만 빠져나옴(so 큰 의미 없다고)

200 375 425

In [15]:
for a in range(1,333):  # 이게 움직일 수 있는 a/b/c - 333/334/335 (?)
    for b in range(a+1,500):  # 범위라고 
        c = 1000-a-b
        if c*c == a*a + b*b:
            print(a,b,c)
            break

200 375 425

In [ ]:
flah = False
for a in range(1,333):  # 이게 움직일 수 있는
    for b in range(a+1,500):  # 범위라고 
        c = 1000-a-b
        if c*c == a*a + b*b:
            print(a,b,c)
            flag = True
            break
    if flag:
        break  # 다시 듣기 (11.22 (1)~25분경 )

u 24-5 연습문제

In [ ]:
text_list = text/split()
count_the = 0
for word in text_list:
    word.strip("',.").lower()
    if word == 'the':
        count_the += 1
print(count_the)

# 6나와야 함

24-6 심사문제

- 표준 입력으로 물품 가격 여러 개가 문자열 한 줄로 입력되고, 각 가격은 ;(세미콜론)으로 구분되어 있습니다. 
- 입력된 가격을 높은 가격순으로 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 
- 이때 가격은 길이를 9로 만든 뒤 오른쪽으로 정렬하고 천단위로 ,(콤마)를 넣으세요.

- 적기 바빠서 틀린 것 있을지도 모르고 / 답도 못 냈음

In [1]:
input

In [2]:
input_str = '51900;83000;158000;367500;250000;59200;128500;1304000'
price_list = list(map(int, input_str.split(';')))
print

In [ ]:
price_list.sort(reverse=True)
price_list

In [ ]:
for price in price_list:
    print(f'{price:9,d}')

u 25

- 표준 입력으로 문자열 여러 개와 숫자 여러 개가 두 줄로 입력되고, 첫 번째 줄은 키, 두 번째 줄은 값으로 하여 딕셔너리를 생성합니다. 
- 다음 코드를 완성하여 딕셔너리에서 키가 'delta'인 키-값 쌍과 값이 30인 키-값 쌍을 삭제하도록 만드세요.

In [5]:
# alpha bravo charlie delta
# 10 20 30 40
keys = input().split()
values = list(map(int, input().split()))
x = dict(zip(keys, values))
x

{'alpha': 10, 'bravo': 20, 'charlie': 30, 'delta': 40}

In [6]:
del x['dleta']
x

# 답이 알파 : 10, 브라보 : 20, 찰리 :30

KeyError: 'dleta'

In [7]:
for key, value in x.items():
    if value == 30:
        break
x.pop(key)          # del x[key]
x

# 답이 알파 10 브라보 20

{'alpha': 10, 'bravo': 20, 'delta': 40}

- 별 그리기 
- 5 이상 9 이하의 홀수를 입력받아 다이아몬드 형태의 별을 출력하는 프로그램 작성하ㅣㅅ오

n = int(input())

In [5]:
n = int(input())
for i in range(n):
    if i <= n// 2:
        star = '*' * (2*i + 1)
    else:
        star = '*' * (2 * (n-i) - 1)
    print(f'{star:^{n}s}')

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [7]:
for i in range(4):
    for k in range(3-i):
        print(' ', end='')
    for k in range(2*i + 1):
        print('*', end ='')
    print()
for i in range(2,-1,-1): 
    for k in range(3-i):
        print(' ', end='')
    for k in range(2*i +1):
        print('*', end='')
    print()

   *
  ***
 *****
*******
 *****
  ***
   *

- 디지털 시계 
- 디지털 시계에 하루동안(00:00~23:59) 3이 표시되는 시간을 초로 환산하면 총 몇 초일까요?

In [ ]:
# 시 - 0 3 13 23 (60분씩 3번)
# 분 - 0 3 13 23 33 43 53 (15분씩 21번?)
# 디지털이니까 초는 없고

In [9]:
for hour in range(24):
    for minute in range(60):
        display = f'{hour:02d}:{minute:02d}'
print(display)

23:59

In [10]:
total_second = 0
for hour in range(24):
    for minute in range(60):
        display = f'{hour:02d}:{minute:02d}'
        if '3' in display:
            total_second +=60
print(total_second)

29700

- 숫자 갯수
- 1~1000에서 각 숫자의 개수를 구하시오.

In [ ]:
# 자료형태는 
# 0갯수, 1 갯수, .... 9 갯수 구해서 [, , , , , ] 리스트로 만들거나
# {0: , 1: , ..... 9: } 딕셔너리로 만들거나 (이게 더!)

In [16]:
# 10 ~ 99
# 십의 자리: n // 10 (몫)
# 일의 자리 : n % 10  (나머지)

number_count = {i:0 for i in range(10)}    # i 의 초기값 0     # 키값은 i 
for n in range(10, 100):
    number_count[n//10]+=1
    number_count[n%10] +=1
number_count

{0: 9, 1: 19, 2: 19, 3: 19, 4: 19, 5: 19, 6: 19, 7: 19, 8: 19, 9: 19}

In [17]:
number_count = {i:0 for i in range(10)}
for n in range(10, 100):
    ten, one = n//10, n%10
    number_count[ten]+=1
    number_count[one] +=1
number_count

{0: 9, 1: 19, 2: 19, 3: 19, 4: 19, 5: 19, 6: 19, 7: 19, 8: 19, 9: 19}

In [ ]:
# 100 ~ 999 
# 백자리 : n // 100
# 십자리 : (n//10)%10
# 일자리 : n % 10

In [22]:
# 다른 방법 

number_count = {i:0 for i in range(10)}
number_string = ''
for i in range(1, 1001): # 이게 스트링i인가?
    number_string += str(i)
for i in range(10):
    number_count[i] = number_string.count(str(i))
number_count

{0: 192,
 1: 301,
 2: 300,
 3: 300,
 4: 300,
 5: 300,
 6: 300,
 7: 300,
 8: 300,
 9: 300}

- 완전수 
- 자기 제외 모든 양의 약수의 합이 자신이 되는 자연수를 완전수
- 입력으로 자연수 N을 받고, 출력으로 N 이하 모든 완전수를 출력하는 코드 작성
- i가 N의 약수 - N%i ==0

In [ ]:
N = int(input())
for i in range(2, N+1):
    sum_of_divisor = 0
    for k in range(1, i)

In [30]:
N = int(input())
for i in range(2, N+1):
    sum_of_divisor = 0 # 약수의 합
    for k in range(1, i): # 자기자신을 제외..i
        if i % k == 0:
            sum_of_divisor += k 
    if sum_of_divisor == i: #완전수면
        print(sum_of_divisor)

6
28
496
8128

In [ ]:
N = int(input())
for i in range(2, N+1):
    sum_of_divisor = 0 # 약수의 합                 
    for k in range(1, i): # 자기자신을 제외..i         -^완전수의 합이 자신이 되는 로직 먼저 설계 
        if i % k == 0:
            sum_of_divisor += k                
    if sum_of_divisor == i: #완전수면
        print(sum_of_divisor)

- 완전수를 확인하는 is_perfect(n) 함수 만들어서 완전수 풀이

In [9]:
# me 작성 풀이(T작성이랑 비교)
# 완전수인지 확인하는 함수 생성
def is_perfect(n):
    for i in range(2, n+1):
        sum_of_divisor = 0                  
    for k in range(1, i):       
        if i % k == 0:
            sum_of_divisor += k                
    if sum_of_divisor == i: 
        print(sum_of_divisor)

In [10]:
N = int(input())
for i in range(2, N+1):
    if is_perfect(i):
        print(i)

6
28
496
8128

In [7]:
# T 작성 풀이 

def is_perfect(i):
    sum_of_divisor = 0                  
    for k in range(1, i):       
        if i % k == 0:
            sum_of_divisor += k                
    if sum_of_divisor == i: 
        return True
    else:
        return False

In [18]:
def is_perfect(i):                      # 약수의 합이 완전수이면 출력하는 함수 is_perfect(i) 생성
    sum_of_divisor = 0                  # 먼저 약수의 합을 0으로 초기화 
    for k in range(1, i):               # 반복문에서 1~i-1까지(자기자신을 제외해야 하니까 i-1)  
        if i % k == 0:                  # k가 i의 약수면
            sum_of_divisor += k         # 약수의 합에 계속 더해준다. // 약수의 합 구하는 건 끝         
    if sum_of_divisor == i:             # 약수의 합이 스스로가 되면
        return True                     # True로 넘어가
    else:                               # 아니면 False로
        return False

In [8]:
N = int(input())                            # 함수 내의 i는 외부의 i는 별개의 것. it's okay! 
for i in range(2, N+1):
    if is_perfect(i):
        print(i)

6
28
496
8128

- 제곱의 합, 합의 제곱 
- 입력으로 자연수 N을 받아, 1부터 N까지 자연수에 대해 합의 제곱과 제곱의 합의 차이를 구해라

In [1]:
N = int(input())
sum_of_square = 0  # 제곱의 합 
sum_of_plain = 0   # 어떤 합 
for i in range(1,N+1):
    sum_of_plain +=i
    sum_of_square +=i*i
print(f'합의 제곱 - 제곱의 합 = {sum_of_plain**2 - sum_of_square}')

합의 제곱 - 제곱의 합 = 25164150