# Unit 23. 2차원 리스트

In [14]:
a = [[10, 20], [30, 40], [50, 60]]
# 행 3 / 열 2
a

[[10, 20], [30, 40], [50, 60]]

In [15]:
import numpy as np
b = np.arange(10,61,10).reshape(3,2)
b
#넘파이하면 원하는 모양으로 나옴

array([[10, 20],
       [30, 40],
       [50, 60]])

In [16]:
import pandas as pd
df = pd.DataFrame(a)
df
# 판다스 데이터프레임도 2차원 
# 리스트만 일렬로 보임 
# a = [[10, 20], [30, 40,70], [50, 60]] : 이런 식으로 정확한 사각형 모양 아니어도 가능(톱니형)

    0   1
0  10  20
1  30  40
2  50  60

In [6]:
# indexing
a[1][1]

40

In [7]:
a[-1][-1]

60

In [17]:
# 2차원으로 표현하기 
from pprint import pprint
pprint(a, indent=4, width=20)

##70이 왜 나오지??

[   [10, 20],
    [30, 40],
    [50, 60]]

23-2. 2차원 리스트와 반복문

In [18]:
for element in a:
    pprint(element)

[10, 20]
[30, 40]
[50, 60]

In [20]:
for sub in a:
    for element in sub:
        print(element)

    print()

10
20

30
40

50
60

In [21]:
len(a)
# 3바이2 가 나왔음 하지만 X

3

In [22]:
len(a), len(a[0])

(3, 2)

In [23]:
for i in range(len(a)):         # 행 갯수
    for k in range(len(a[i])):  # 열 갯수 
        print(a[i][k], end=' ')
    print()

10 20
30 40
50 60

In [24]:
for row in a:
    for element in row:
        print(element, end=' ')
    print()

10 20
30 40
50 60

23-3. 반복문으로 리스트 만들기

In [25]:
# 1차원 만들기 
a = []
for i in range(5):
    a.append(i)
a

[0, 1, 2, 3, 4]

In [26]:
list(range(5))

[0, 1, 2, 3, 4]

In [27]:
[i for i in range(5)]

[0, 1, 2, 3, 4]

In [31]:
# 2차원 만들기 (3 x 4)
two_d = []
for i in range(3):
    for k in range(4):
        two_d.append(4*i+k)
two_d

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [33]:
two_d = []
for i in range(3):
    line = []
    for k in range(4):
        line.append(4*i+k)
    two_d.append(line)
two_d

# 바깥에도 빈 for문 / 안에서도 빈 for문 만들어야 2차원 완성

[[0, 1, 2, 3], [4, 5, 6, 7], [8, 9, 10, 11]]

In [ ]:
# 23.7 심사문제 ) 지뢰찾기 힌트 
# 
# 패딩...? 감싸는 거..?