- Unit 14

In [4]:
korean, english, math, science = map(int, input().split())
if 0<=korean<=100 and 0<=english<=100 and 0<=math<=100 and 0<=science<=100:
    if (korean+english+math+science) / 4 >= 80:
        print('합격')
    else:
        print('불합격')
else: 
    print('잘못된 점수')

    # % : 배수 
    # / : 나누기 **구분!!

잘못된 점수

ValueError: Invalid format specifier

- unit 15

In [5]:
age = int(input('나이 입력'))
balance = 9000

if 7 <= age <= 12: 
    fare = 650
elif 13 <= age <=18:
    fare = 1050
elif age >= 19:
    fare = 1250
else:
    fare = 0

print(f'{age}살의 요금은 {fare}원이고, 잔액은 {balance-fare:,d}원입니다.')

24살의 요금은 1250원이고, 잔액은 7,750원입니다.

In [ ]:
age = int(input('나이 입력'))
balance = 9000

if 7 <= age <= 12: 
    fare = 650
elif 13 <= age <=18:
    fare = 1050
else:
    fare = 1250

print(f'{age}살의 요금은 {fare}원이고, 잔액은 {balance-fare:, d}원입니다.')

# 선생님이 하다 만 건데, 이거 안되나?

In [ ]:
# 나의 풀이    #코딩도장에 맞음 처리 되는 답 

age = int(input())
balance = 9000 
if 7 <= age <= 12:
    balance = balance-650
elif 13 <= age <= 18:
    balance = balance-1050
elif age >= 19:
    balance = balance-1250
    
print(balance)

- unit 16

In [1]:
n = int(input())
for i in range(1,10):
    print(f'{n} * {i} = {n*i}')

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

- unit 17

In [10]:
balance = int(input())
fare = 1350

while balance - fare >=0:
    balance -= fare
    print(balance)

7650
6300
4950
3600
2250
900

In [11]:
balance = int(input())
fare = 1350

while balance >= fare: # 잔액이 요금보다 클 동안만 계산을 돌림 
    balance -= fare
    print(balance)

7650
6300
4950
3600
2250
900

- unit 18

In [ ]:
start, stop = map(int, input().split())
i = start 
while True: 
    if i > stop:
        break
    if i %15 == 3:
        #i +=1 을 여기 넣어야 한다고... (?)
        continue
    print(i, end=' ')
    i += 1 

# 1교시 20분보다 좀 더 전에 한 번 더 듣기

- Unit 19

In [13]:
# 공백은 n-i-1 / 별은 2 * i + 1
n = int(input())

for i in range(n):
    for k in range(n-i-1):
        print(' ', end ='')
    for k in range(2 * i + 1):
        print('*', end='')
    print()

  *
 ***
*****

In [14]:
# 3, 5 순으로 입력함 

n = int(input())

for i in range(n):
    for k in range(n-i-1):
        print(' ', end ='')
    for k in range(2 * i + 1):
        print('*', end='')
    print()

    *
   ***
  *****
 *******
*********

In [15]:
# 심사 문제 아니면 이렇게도 가능하다고..그냥 편하게 
n = int(input())

for i in range(n):
    print(' '*(n-i-1) + '*'*(2*i+1))

  *
 ***
*****