# Unit 22. 리스트 튜플 응용

- 리스트에 요소 추가

- append :  맨 끝에 요소 추가
- extend : 
- insert :

In [1]:
# append 만큼은 반드시반드시 기억 

a = [10, 20,30]
a.append(40)
a

[10, 20, 30, 40]

In [13]:
# 좀 이상 
a = [10, 20,30]
a.insert(0, 34)
a

[34, 10, 20, 30]

In [14]:
# 좀 이상
a = [10, 20,30]
a.append([100, 200])
a

[10, 20, 30, [100, 200]]

In [16]:
del a[-1]
a

[10, 20, 30]

In [17]:
a.pop()
# 제일 끝 요소를 꺼내줌

30

In [18]:
a
# 꺼낸 뒤 a를 보면 30이 삭제되어 있죠?

[10, 20]

In [19]:
a.pop(0)

10

In [20]:
# remove... 잘 사용은 안 한다고

In [ ]:
# Stack 스택 (Last-in/First-out : 엘리베이터처럼)
- stack.append( ) 넣을 때 
- stack.pop( )    뺄 때 

# Queue 큐 (First-in/First-out) : 일방통행 길처럼 
- queue.insert( ) 앞에서 집어넣을 때
- queue.pop( )    뺄 때 

# 교재랑은 살짝 다르다고 하시네..

In [ ]:
# collections 특이한 구조의 자료. 도 있다.

- 특정 값의 인덱스 구하기

In [22]:
a = [10, 20, 30]
a.index(20)

1

In [23]:
for index, element in enumerate(a):
    print(f'index = {index}, value: {element}')

    # enumerate를 사용해서 인덱스를 꺼낸다? 
    # index와 element, 두 개를 꺼낼 수 있다. 
    # list의 경우, 하나 이상도 꺼낼 수 있 / enumerate 사용하여

index = 0, value: 10
index = 1, value: 20
index = 2, value: 30

In [24]:
for i in range(len(a)):
    print(f'index={i}, value: {a[i]}')

    # enumerate를 안 쓰면 이렇게 사용할 수 있음

index=0, value: 10
index=1, value: 20
index=2, value: 30

In [25]:
value = 20
for index, element in enumerate(a):
    if element == value:
        break
print(index)

1

- 기타

In [26]:
# 특정 값의 갯수 
a = [10, 20, 30, 15, 20, 40]
a.count(20)

2

In [ ]:
# 리스트  순서바꾸기 
a = [10, 20, 30, 15, 20, 40]
a.reverse()
a
# a[::-1] 도 가능

- 정렬

In [33]:
a

[10, 20, 30, 15, 20, 40]

In [38]:
a.sort()
a
# 오름차순 정렬 기본

[10, 15, 20, 20, 30, 40]

In [40]:
a.sort(reverse=True)    # 내림차순 정렬 
a

[40, 30, 20, 20, 15, 10]

- 자신을 변화시키는 method 
/ 변화시키지 않는 method (sorted)

In [41]:
b = [10, 20, 30, 15, 20, 40]
sorted(b)

[10, 15, 20, 20, 30, 40]

In [42]:
b
# 위에서 정렬을 했지만, b 자체는 바뀌지 않았음을 알 수 있
# sort랑 다른 건 a 자체가 바뀌었었지?

[10, 20, 30, 15, 20, 40]

22-2 리스트 할당과 복사

In [43]:
a = [40, 30, 20, 20, 15, 10]

In [46]:
b = a

In [48]:
b[-1] = 300  # 이게 마지막 요소를 300으로 바꾼 거래 
a            # b를 바꿨지만 결과적으론 a가 바뀜 

# 이게 뭔... a 나 b나 결국 같은 주소를 사용해서...? 뭐시기...

[40, 30, 20, 20, 15, 300]

In [49]:
a is b

True

In [53]:
a = [40, 30, 20, 20, 15, 10]
b = a.copy()
b[-1]=88
b

[40, 30, 20, 20, 15, 88]

In [52]:
a #얘는 근데 안 바뀌어 있네? 왜지? --- 할당(=)과 복사(copy)의 차이

[40, 30, 20, 20, 15, 10]

22-3 반복문과 리스트

In [54]:
a = [38, 21, 53, 62, 19]
for i in a:
    print(i)

38
21
53
62
19

- 인덱스와 요소를 동시에 액세스

In [55]:
for index, value in enumerate(a):
    print(index, value)

0 38
1 21
2 53
3 62
4 19

In [56]:
fruits = ['사과', '배', '귤', '감']
for index, fruit in enumerate(fruits): 
    print(index, fruit)

    # enumerate 많이 사용합니다!

0 사과
1 배
2 귤
3 감

In [57]:
# 22.3.3은 시험에나 나오는 거..
# 22-3 에서 기억할 것 : 1) 리스트 간단하게 사용가능 2) 요소와 인덱스 두 개 다 꺼내는 방법

22-4. 리스트의 최대값, 최소값, 합계 구하기

In [58]:
a = [38, 21, 53, 62, 19]
small = 10000    # 10000은 리스트에서 나타날 수 없는 그냥 크게 잡은.. # a[0] - 리스트의 첫번째 값이란 뜻 
for element in a:
    if element < small:
        small = element
small

19

In [60]:
large = -1
for element in a:
    if element > large:
        large = element
large

62

In [61]:
min(a), max(a)

(19, 62)

In [62]:
sum(a)

# 리스트에 숫자가 들어와 있으면, 이런 기본적인 함수는 제공됨

193

In [63]:
a = [38, 21, 53, 62, 19]
sum = 0
for i in a:
    sum += i 
sum

# 하지만 이렇게 하면 이후 sum(a)에서 오류가 남 
# x =10      
# x(a) -- 이거랑 같은 게 되버린다고.. 우리가 아는 sum이 아니라고 함 
# sum 이라는 정수라는 변수로 갈아끼웠기 때문에... 
# 이렇게 쓰지말래. 합계 낼 때 함부로 쓰지 말기

193

In [66]:
sum(a) # 이렇게 함수로만 쓰십시오.

TypeError: 'int' object is not callable

22-5. 리스트 표현식 (Comprehension)

In [ ]:
# 1에서 10까지의 제곱수로 된 리스트를 만드세요.

In [70]:
#내가 아는 방법 
square_list = []
for i in range(1,11):
    square_list.append(i*i)
square_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [72]:
# 편한 방법
square_list = [i*i for i in range(1,11)]
square_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [73]:
# 이것두 알아둬야 함 
odd_sq = [i*i for i in range(1,11) if i % 2 == 1]
odd_sq

[1, 9, 25, 49, 81]

- 연습 : 두 수 (3, 14)을 받아서 두 수 사이에 3의 배수의 제곱수로 된 리스크를 만들어라

In [74]:
# 틀림 / 뭔가 이해 잘못함 
square_list = [i*i for i in range(3,14)]
square_list

[9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169]

In [1]:
# 풀이 #res_list의 res는 result 

m, n = map(int, input('시작 끝').split())
res_list = [i*i for i in range(m,n+1) if i % 3 == 0]
res_list

[9, 36, 81, 144]

- 2단부터 9단까지 구구단 리스트 생성

In [5]:
a = [i * k for i in range(2, 10) for k in range(1, 10)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [6]:
a = [i * k for i in range(2, 10) \
             for k in range(1, 10)]
print(a)
#얘도 똑같은..

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

22-6. map / 왼쪽에 집중! 바꾸고자 하는 것을 왼쪽에

In [7]:
# 리스트 각 요소에 주어진 함수를 적용해줌 
# 즉 map이 중요한 게 아니라 '함수' / 중매쟁이..

In [8]:
a = [1.2, 2.5, 3.7, 4.6] # element를 (실수-)정수로 바꾸고 싶
for i in range(len(a)):
    a[i] = int(a[i]) 
a

[1, 2, 3, 4]

In [11]:
a = [1.2, 2.5, 3.7, 4.6] 
for element in a:
    element = int(element)
a

# 리스트를 바꾸지 못함
# a값이 아니라 element값을 바꾼 식밖에 안됨

[1.2, 2.5, 3.7, 4.6]

In [12]:
a = [1.2, 2.5, 3.7, 4.6] 
for element in a:
    element = int(element)
    print(element, end=' ')
a

# 보면 알수 있듯 element는 바뀌었음 
# a 는 그대로

1 2 3 4

[1.2, 2.5, 3.7, 4.6]

In [13]:
list(map(int, a))

[1, 2, 3, 4]

- 함수를 만들수만 있다면

In [15]:
def sq(x):
    return x*x

In [16]:
list(map(sq,a))

[1.44, 6.25, 13.690000000000001, 21.159999999999997]

In [17]:
list(map(lambda x: x*x, a))
#lambda함수 = 익명함수

[1.44, 6.25, 13.690000000000001, 21.159999999999997]