# Unit 10. 리스트와 튜플 사용하기

### 10.1 리스트

In [1]:
# 대괄호 []를 사용함 
# 각각의 값을 요소
a = [23, 56, 76, 34, 25]
a

[23, 56, 76, 34, 25]

In [2]:
type(a)

list

In [3]:
person = ['James', 25, 175.3, True]
# 여러 데이터 자료형 혼재하여 만들 수 O
# is man...에 True??
person

['James', 25, 175.3, True]

In [ ]:
a = []
a = list()
# 빈 리스트 
# 반복문 시 빈리에 요소들을 추가X100

In [4]:
#range 

# 파이썬 근간 정말 중요!!
# 0부터 시작하여 끝(10) 포함 X
# range(10) - 0 1 2 3 4 5 6 7 8 9

list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
list(range(5, 12))   # 시작과 끝 지정

[5, 6, 7, 8, 9, 10, 11]

In [6]:
list(range(1,10,2))   # 시작, 끝, 증가분(2씩 증가)

[1, 3, 5, 7, 9]

In [7]:
list(range(10,0,-1))        # 나중에는 1 : 10 : 2 이렇게 나옴

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### 10-2 튜플

In [8]:
# 한 번 값 설정 시 불변     # 자유로운 리스트와 비교되는 자료형

a = (38, 21, 53, 62, 19)
a

(38, 21, 53, 62, 19)

In [10]:
a = 23, 35, 34 
a
# 소괄호 필X   # 소괄호 없는 자체가 튜플

(23, 35, 34)

In [12]:
# 한 개짜리 튜플은 반드시 뒤에 ,콤마를 붙여야 함 
# 리스트는 [1] 이면 1이지만 튜플은 우선 의미의 ()로 해석될 여지O
a = (3,)   # 3, 도 가능 
type(a)

tuple

In [14]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [18]:
# 리스트를 튜플로 전환
tuple([1,2,3])

(1, 2, 3)

In [19]:
# 튜플을 리스트로
list((1,2,3))

[1, 2, 3]

In [20]:
list(1,2,3)
# 이건 함수라 안된다고

TypeError: list expected at most 1 argument, got 3

In [22]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [21]:
tuple('안녕하세요')

('안', '녕', '하', '세', '요')

unpacking

In [23]:
# list unpacking / 4~5에도 한 번 나왔음 
a, b, c = [1, 2, 3]
x, y, z = 4, 5, 6 # 튜플임 튜플 언패킹